.home, .placeOrder, .userInfo {
    background-color: #fafafafa;
    padding-bottom: 10px;
}

    .page-footer{
        text-align: center;
        margin-top: 5%;
        color:black;
    }

.item{
    border: 1px dotted gray;
    margin: 10px;
    padding: 10px;
}

.item:hover{
    cursor: pointer;
    border: 1px solid black;
    box-shadow: 2px 2px 3px lightgray;
}

.items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.list{
    font-weight: bold;
    font-size: 16px;
}

.selectTitle{
    background-color: aqua;
    border-radius: 5px;
    border: 1px solid lightseagreen;
}

#p{
    background-color: rgba(55, 219, 50, 0.829);
}

#m{
    background-color: rgba(223, 140, 140, 0.781);
}